.list-header {
    border: 1px solid darken($color: $grey, $amount: 7%);
    border-width: 0 0 1px 0; 
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
};

.list-body {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
};

.list-item {
  border: 1px solid darken($color: $off-white, $amount: 7%);
  border-top: none;
  border-radius: 20px;
  color: $grey;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  background: $off-white;
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
};

.list-item-message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
      background: none;
    }

};

.list-item__title {
    margin: 0%;
    word-break: break-all;
};

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
};

.list-item__data {
 margin: $s-size 0 0 0;
 @media (min-width: $desktop-breakpoint) {
  margin: 0;
  padding: $s-size;  
  }
};